<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="form-card shadow-lg rounded p-4 border" style="max-width: 400px; width: 100%; background-color: #f8f9fa;">
    <div class="form-card-header text-center py-3">
      <h2 class="fw-bold"><%= t('devise.sessions.title') %></h2>
    </div>
    <div class="form-card-body">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-container" }) do |f| %>
        <div class="mb-4">
          <%= f.label :email, t('devise.sessions.email'), class: "form-label fw-bold" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-lg", id: "exampleInputEmail1" %>
        </div>

        <div class="mb-4">
          <%= f.label :password, t('devise.sessions.password'), class: "form-label fw-bold" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control form-control-lg", id: "exampleInputPassword1" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="mb-4 form-check">
            <%= f.check_box :remember_me, class: "form-check-input", id: "exampleCheck1" %>
            <%= f.label :remember_me, t('devise.sessions.remember_me'), class: "form-check-label", for: "exampleCheck1" %>
          </div>
        <% end %>

        <button type="submit" class="btn btn-primary btn-lg w-100"><%= t('devise.sessions.submit') %></button>
      <% end %>
    </div>
  </div>
</div>
